@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');

@import 'tailwindcss';

@theme {
    --background-image-noise: linear-gradient(
            to bottom,
            color-mix(in oklab, var(--color-neutral-950) 0%, transparent),
            color-mix(in oklab, var(--color-neutral-950) 100%, transparent)
        ),
        url('/images/noise.png');
    --color-primary: #3b82f6;
    --color-primary-content: #ffffff;
    --color-secondary: #1e40af;
    --color-accent: #10b981;
    --color-accent-content: #ffffff;
    --font-sans: 'Inter', ui-sans-serif, system-ui, sans-serif, 'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol',
        'Noto Color Emoji';
}

@layer base {
    h1 {
        @apply text-4xl font-bold tracking-tight sm:text-5xl;
    }

    h2 {
        @apply text-2xl font-bold sm:text-3xl;
    }

    h3 {
        @apply text-xl font-bold;
    }

    a:not(.btn) {
        @apply underline transition hover:opacity-80;
    }
}

@layer components {
    .btn {
        @apply inline-flex items-center justify-center gap-2 font-bold text-center no-underline transition-colors cursor-pointer bg-primary text-primary-content;
        padding: var(--btn-py, 0.875rem) var(--btn-px, 1.25rem);
        font-size: var(--btn-font-size, 0.875rem);
        border-radius: var(--btn-border-radius, 0.375rem);

        &:hover {
            @apply bg-primary/85;
        }

        &:disabled {
            @apply cursor-default text-neutral-400 bg-neutral-700;
        }
    }

    .btn-lg {
        --btn-font-size: 1.125rem;
        --btn-px: 1.5rem;
        --btn-py: 1.125rem;
    }

    .btn-outline {
        @apply bg-transparent border-2 border-primary text-primary;

        &:hover {
            @apply bg-primary/10;
        }
    }

    .btn-accent {
        @apply bg-accent text-accent-content;

        &:hover {
            @apply bg-accent/85;
        }
    }

    .input {
        @apply px-4 py-3 text-sm border rounded-md border-neutral-300 text-neutral-900 focus:border-primary focus:outline-3 focus:outline-primary/30;
    }
}
